:where(abbr[title]) {
  cursor: help;
}

:where(code,
kbd) {
  font-family: var(--root-mono__font-family, monospace);
  font-size: smaller;
}

:where(code) {
  padding: 0.2em 0.4em;
  color: var(--code__color, currentColor);
  background-color: var(--code__bg-color, initial);
  border-radius: var(--code__border-radius, initial);
  word-wrap: break-word;
}

:where(pre code) {
  font-size: inherit;
  padding: 0;
  background-color: transparent;
  color: inherit;
  word-break: normal;
}
