:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
}

:where(table, th, td) {
  padding: 0.3em 0.5em;
  border-width: var(--table__border-width, 1px);
  border-style: var(--table__border-style);
  border-color: var(--table__border-color, grey);
}

/* responsive table with horizontal scroll */
:where(.responsive-table) {
  max-width: 100%;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
}

/* snap scroll to the start of each cell */
:where(.responsive-table th),
:where(.responsive-table td) {
  scroll-snap-align: start;
}
