:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
}

:where(th, td) {
  border-width: var(--table__border-width, 1px);
  border-style: var(--table__border-style);
  border-color: var(--table__border-color, grey);
  padding-inline: var(--table__padding-inline, 0.5em);
  padding-block: var(--table__padding-block, 0.3em);
}
