.btn-small {
  --btn__padding-inline: 0.6em;
  --btn__padding-block: 0.5em;
}

.btn-large {
  --btn__padding-inline: 1.5em;
  --btn__padding-block: 1.1em;
}

.btn-1 {
  /* --btn__font-weight:; */
  /* --btn__font-family:; */
  /* --btn__font-size:; */
  --btn__color: #000;
  --btn__bg-color: transparent;
  --btn__border-width: 3px;
  /* --btn__border-style:; */
  --btn__border-color: #00607e;
  --btn__border-radius: 16px;
  --btn-hover__color: #0352be;
  --btn-hover__bg-color: transparent;
  --btn-hover__border-color: #0352be;
}

/* dark color scheme */

@media (prefers-color-scheme: dark) {
  .btn-1 {
    /* --btn__font-weight:; */
    /* --btn__font-family:; */
    /* --btn__font-size:; */
    --btn__color: #fff;
    --btn__bg-color: transparent;
    --btn__border-width: 3px;
    /* --btn__border-style:; */
    --btn__border-color: #c498ff;
    --btn__border-radius: 16px;
    --btn-hover__color: #91d6e0;
    --btn-hover__bg-color: transparent;
    --btn-hover__border-color: #91d6e0;
  }
}

.btn-2 {
  --btn__font-weight: 400;
  --btn__font-family: monospace;
  --btn__font-size: 20px;
  --btn__color: #000;
  --btn__bg-color: #91d6e0;
  --btn__border-width: 3px;
  /* --btn__border-style:; */
  --btn__border-color: #000;
  --btn__border-radius: 0;
  --btn-hover__color: #0352be;
  --btn-hover__bg-color: transparent;
  --btn-hover__border-color: #0352be;
}

/* dark color scheme */

@media (prefers-color-scheme: dark) {
  .btn-2 {
    --btn__font-weight: 400;
    --btn__font-family: monospace;
    --btn__font-size: 20px;
    --btn__color: #000;
    --btn__bg-color: #91d6e0;
    --btn__border-width: 3px;
    /* --btn__border-style:; */
    --btn__border-color: #fff;
    --btn__border-radius: 0;
    --btn-hover__color: #c498ff;
    --btn-hover__bg-color: transparent;
    --btn-hover__border-color: #c498ff;
  }
}

.btn-3 {
  /* --btn__font-weight:; */
  /* --btn__font-family:; */
  --btn__font-size: 20px;
  --btn__color: #000;
  --btn__bg-color: #ddd;
  --btn__border-width: 0;
  /* --btn__border-style:; */
  /* --btn__border-color:; */
  --btn__border-radius: 3px;
  --btn-hover__color: #000;
  --btn-hover__bg-color: #ccc;
  /* --btn-hover__border-color: #bbb; */
}

/* dark color scheme */

@media (prefers-color-scheme: dark) {
  .btn-3 {
    /* --btn__font-weight:; */
    /* --btn__font-family:; */
    --btn__font-size: 20px;
    --btn__color: #000;
    --btn__bg-color: #eee;
    --btn__border-width: 0;
    /* --btn__border-style:; */
    /* --btn__border-color:; */
    --btn__border-radius: 3px;
    --btn-hover__color: #000;
    --btn-hover__bg-color: #bbb;
    /* --btn-hover__border-color:; */
  }
}

:where(.btn-close) {
  min-width: 2em;
  --btn__padding-block: 0.4em;
  --btn__padding-inline: 0.4em;
  --btn__bg-color: transparent;
  --btn__border-style: none;
  --btn-hover__bg-color: #ccc;
}

:where(.btn-close) :where(svg) {
  height: 2em;
  width: 2em;
  stroke: currentColor;
  stroke-width: 2px;
}

/* dark color scheme */

@media (prefers-color-scheme: dark) {
  .btn-close {
    --btn__color: #ccc;
    --btn-hover__color: #ccc;
    --btn-hover__bg-color: #444;
  }
}

/*# sourceMappingURL=buttons.css.map */