[aria-expanded="false"] + ul {
  display: none;
}

[target="_blank"]:after {
  background-color: currentColor;
  content: "";
  width: 0.6em;
  height: 0.6em;
  -webkit-mask-image: url(/files/target-blank.svg);
  mask-image: url(/files/target-blank.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
}
